$primary-color: #4361ee;

.header {
    background-color: $primary-color;
    color: #ffffff;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  
    &__title {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .header__title{
    // border: 2px solid red;
    height: 3rem;
    display: inline-block;
    color: white;
    
    img{
      height: 100%;
      filter: brightness(0) invert(1); 
    }
  }