$primary-color: #3d5afe;
$secondary-color: #00c853;
$dark-color: #263238;
$light-color: #f5f7fa;
$text-color: #455a64;
$light-text-color: #455a64e9;
$light10-text-color: #455a64f3;
$highlight-color: #ff9100;
$gradient: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@mixin transition {
  transition: all 0.3s ease;
}